@import "tailwindcss";


/* Ghoomne wala animation define kiya */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.spinning-loader {
  animation: spin 2s linear infinite;
  color: #3498db;
}